/*--------Generieke styles--------*/

/*Een ander letterype wordt ingeladen: Alegreya.*/
@font-face {
  font-family: "Alegreya";
  font-style: normal;

  /*Dit zorgt ervoor dat alle cijfers even hoog en even breed zijn.*/
  font-feature-settings: "lnum", "tnum";
  src: url("../assets/fonts/Alegreya-Regular.ttf");
}

/*De italic-versie van Alegreya*/
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  src: url("../assets/fonts/Alegreya-Italic.ttf");
}

html {
  font-family: "Alegreya";

  /*Er kunnen kleuren ingesteld worden voor lichte modus en donkere modus, maar dat doe ik nog niet.*/
  --achtergrondkleur: black;
  --tekstkleur: white;
  --accentkleur1: #00BA00;
  --accentkleur2: #A9EBEF;

  /*Deze kleur wordt nog niet gebruikt, maar ik zou het later kunnen gebruiken.*/
  --nogEenKleur: #6969E8;

  --tekst-grootte: 1.1rem;
}

p, a, label, details {
  font-size: var(--tekst-grootte);
  line-height: 1.4;
}

h1,
h2 {
  text-align: center;
}

a {
  color: var(--tekstkleur);
}

p {
  font-weight: normal;
  max-width: 20em;
}

/*Alle afbeeldingen en de svg's zonder use-element zijn voorlopig placeholders.*/
svg,
img {

  background-image:
    linear-gradient(45deg,
      transparent 0% 40%,
      var(--accentkleur1) calc(40% + 1px) 60%,
      transparent calc(60% + 1px)),
    linear-gradient(-45deg,
      transparent 0% 40%,
      var(--accentkleur1) calc(40% + 1px) 60%,
      transparent calc(60% + 1px));
}

svg:has(use) {
  background-image: none;
}

/*
Dit zorgt ervoor dat elke radioknop er als een bloem uit ziet.
*/

@property --bloem-lengte {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --bloem-alpha {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

label:has(input[type="radio"]) {
  transition: --bloem-lengte 0.5s, --bloem-alpha 0.5s;
  --bloem-lengte: 0;
  --bloem-alpha: 0%;

  display: grid;
  grid-template-columns: [beschrijving] max-content [knop] max-content;
  gap: 0.5rem;
  align-items: center;

  cursor: pointer;

  &:has(input:checked) {
    --bloem-lengte: 1;
    --bloem-alpha: 100%;
  }

  /*Dit wordt de steel van de bloem.*/
  &::before {
    grid-column: knop;
    grid-row: 1;
    width: 2rem;
    height: 4rem;

    content: "";

    background-image:
            linear-gradient(0deg,
                var(--accentkleur1) 0 calc(var(--bloem-lengte) * 2.5rem),
                transparent calc(var(--bloem-lengte) * 2.5rem + 1px));

        background-size: 0.3rem 100%;
        background-repeat: no-repeat;
        background-position: center;
  }

  /*Dit wordt de kop van de bloem.*/
  input {
    margin: 0;
    grid-column: knop;
    grid-row: 1;

    align-self: start;
    transition: translate 0.5s;
    translate: 0 2.5rem;

    &:checked {
      translate: 0;
    }

    width: 2rem;
    height: 2rem;
    appearance: none;

    border-radius: 50%;

    background-image:
            radial-gradient(at 50% 1rem,
            var(--tekstkleur) 0 0.5rem,
            transparent calc(0.5rem + 1px)

            ),
            repeating-conic-gradient(
            rgb(from var(--accentkleur2) r g b / var(--bloem-alpha)) 0 15deg,
            transparent 16deg 36deg,
            rgb(from var(--accentkleur2) r g b / var(--bloem-alpha)) 37deg calc(360deg / 7));    
  }
}

/*--------Einde van generieke styles--------*/

/*--------Specifiekere styles in html-volgorde--------*/

body {
  background-color: var(--achtergrondkleur);
  color: var(--tekstkleur);

  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: [navigatie main] 1fr;
  grid-template-rows: [main] 1fr [navigatie] max-content;

  @media (min-width: 32rem) {
    grid-template-columns: [navigatie] max-content [main] 1fr;
    grid-template-rows: [navigatie main] 1fr;
  }
}

main {
  grid-column: main;
  grid-row: main;
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--tekstkleur);

  overflow-y: auto;

  @media (min-width: 32rem) {
    border-bottom: 0;
    border-left: 2px solid var(--tekstkleur);
  }
}

main.verkennen {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;

  h2 {
    margin: 0;
    color: var(--accentkleur1);
  }

  section {
    display: none;
  }

  .verkentype-formulier {
    display: flex;
    justify-content: space-evenly;

    label>span {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }

    /*In dit formulier wil ik dat de tweede radiobloem vóór diens omschrijving verschijnt.*/
    label:nth-child(2) {
      grid-template-columns: [knop] max-content [beschrijving] max-content;
    }

    &:has(label:nth-child(1) > input:checked)~section:nth-of-type(1),
    &:has(label:nth-child(2) > input:checked)~section:nth-of-type(2)
    {
      display: grid;
    }
  }
}

.gebiedenlijstsectie {
  grid-template-columns: repeat(auto-fit, 15rem);
  justify-content: space-evenly;
  gap: 1rem;
  grid-auto-rows: max-content;

  h2 {
    grid-column: 1 / -1;
  }

  details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.kaartsectie {
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: 0.5rem;

  .plattegrond>svg {
    width: 100%;
    height: 100%;

    background-size: 2rem 2rem;
  }
}

main.gebiedpagina {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plantensectie {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  h2 {
    flex-basis: 100%;
  }

  h2 {
    color: var(--accentkleur1);
  }

   article {
    display: grid;
    justify-items: center;
    gap: 0.5rem;

    h3 {
      margin: 0;
    }

    img {
      width: 8rem;
      height: 4rem;
      background-size: 50% 100%;
      object-fit: none;
    }

  }
}

nav {
  grid-column: navigatie;
  grid-row: navigatie;
  padding: 1rem;
  padding-top: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

  @media (min-width: 32rem) {
    flex-direction: column;
    justify-content: start;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 32rem) {
      flex-direction: row;
      gap: 0.5rem;
    }
  }

  svg {
    width: 2rem;
    height: 2rem;
  }
}

